<h2>{{ title }}</h2>
<br/>
<p></p>

<div class="row page-content">
    <div class="col-md-5">

                {% for b in buttons %}
                    <hr/>
                    <div class="row">
                        <div class="col-md-4">
                            <form actions="." method="post">
                            {% csrf_token %}
                            <input type="submit" name="{{b.0}}" value="{{b.0}}" class="btn btn-default btn-contact" />
                            </form>   
                        </div>
                        <div class="col-md-8">
                            <p>{{b.1}}</p>
                        </div>
                    </div>

                {% endfor %}

    </div>
    <div class="col-md-7">
        <p>{{form.as_p}}</p>
    </div>
</div>
