{% extends "user/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<br />

<div>
    <input type="submit" value="Update Profile Details" class="btn btn-default" />
    <p style="display:inline">Test me</p>
    <hr />
</div>

    <input type="submit" value="Change Password" class="btn btn-default" />
<hr />
    <input type="submit" value="Change Email" class="btn btn-default" />
<hr />


<form action="." method="post" class="form-horizontal">
{% csrf_token %}
    {{name_form.as_p}}
    <hr />
    {{custom_user_form.as_p}}
    <input type="submit" value="Update" class="btn btn-default" />
</form>

{% endblock %}
